<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RoyalFinishingManager.Properties.Settings.RoyalFinishingDBConnectionString"
            connectionString="Data Source=royalfinishingdata.ck96xcdzz01e.us-east-2.rds.amazonaws.com;Initial Catalog=RoyalFinishingDB;Persist Security Info=True;User ID=admin;Password=royal2001;User Instance=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>